body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.navbar{
    margin-top: 18px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 20px;
}

