body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.app-name{
    margin-left: 5%;
    color: red;
    font-size: x-large;
}

/* .nav-links{
    align-self: ;
} */

.nav-links a{
    padding: 0 5px;
}
